.bio {
  width: 1300px;
  margin: 0 auto;
  direction: rtl;
}
.bio_doctor {
  font-size: 40px;
  color: var(--black);
}
.lorem-bio {
  color: var(--dark);
  text-align: justify;
  font-size: 18px;
  margin-top: 30px;
  margin-bottom: 50px;
}
.div-notif {
  background: var(--purple);
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 40px;
}
.notif {
  color: var(--wc-secondary);
  font-size: 20px;
  padding: 5px 30px;
}
.btn-bio {
  border: none;
  width: 150px;
  font-size: 25px;
  margin: 20px 40px 20px 40px;
  padding: 15px 10px 15px 10px;
  border-radius: 25px;
  background: var(--purpleLight);
  color: var(--wc-secondary);
  cursor: pointer;
}
