.content {
  height: 600px;
  border-radius: 40px;
  background: var(--purple);
  display: flex;
  justify-content: center;
  align-items: center;
  direction: rtl;
}
.img-docter {
  width: 500px;
  height: 570px;
  margin-left: 60px;
}
.content-about {
  padding-right: 120px;
  direction: rtl;
}
.docter-p {
  font-size: 23px;
  color: var(--white);
  margin: 0;
}
span {
  color: var(--purpleLight);
}
.div-border {
  width: 30%;
  height: 5px;
  background: var(--white);
  margin-top: 40px;
  margin-bottom: 40px;
}
.lorem {
  color: var(--white);
  font-size: 15px;
  text-align: justify;
  margin-top: 20px;
  margin-bottom: 85px;
}
.btn {
  background: var(--purpleLight);
  padding: 10px 30px;
  font-size: 20px;
  width: 160px;
  color: var(--white);
  border: none;
  border-radius: 40px;
  cursor: pointer;
}
