@media (max-width: 1300px) {
  /* Header */
  .header {
    width: calc(100% - 50px);
  }
  .tel {
    display: grid;
    text-align: right;
  }
  .header-docname a {
    margin: 0;
    font-size: 20px;
  }
  .header-docname div {
    text-align: right;
  }
  /* HeaderContent */
  .content {
    width: calc(100% - 40px);
    margin: 0 auto;
  }
  .img-docter {
    width: 530px;
    height: 600px;
    margin-left: 6px;
  }
  /* Reservation */
  .reservation {
    width: calc(100% - 20px);
    margin: 0 auto;
  }
  .reservation_div div {
    margin: 0px 20px;
  }
  .img {
    width: 100%;
  }
  /* Grouping */
  .grouping {
    width: calc(100% - 50px);
    margin: 0 auto;
  }
  /* Data */
  .p-data {
    width: calc(100% - 20px);
  }
  .table {
    width: calc(100% - 20px);
    margin: 0 auto;
  }
  /* DocNotif */
  .bio {
    width: calc(100% - 50px);
    margin: 0 auto;
  }

  /* Comment */
  .comment-body {
    width: calc(100% - 50px);
    margin: 0 auto;
  }
  .comment-div {
    margin: 10px;
  }
  /* Medical */
  .medical {
    width: calc(100% - 50px);
    margin: 0 auto;
    margin-bottom: 50px;
  }

  /* Footer */
  .footer {
    width: calc(100% - 50px);
    margin: 0 auto;
  }
}
@media (max-width: 1000px) {
  /* Header */
  .search {
    display: none;
  }
  /* HeaderContent */
  .img-docter {
    width: 450px;
    height: 500px;
    margin-left: 6px;
  }
  .content-about {
    padding-right: 50px;
  }
  .lorem {
    margin-top: 20px;
    margin-bottom: 50px;
  }
  .btn {
    background: var(--purpleLight);
    padding: 10px 30px;
    font-size: 20px;
    width: 160px;
    color: var(--white);
    border: none;
    border-radius: 40px;
    cursor: pointer;
  }
  /* Reservation */
  .img {
    width: 100%;
    height: auto;
  }
  /* Medical */
  .medical-img {
    width: 400px;
  }
}
