.comment-body {
}
.comment-p {
  margin-top: 50px;
  text-align: center;
  display: block;
  font-size: 20px;
  color: var(--dark);
  margin-bottom: 0;
}
.comments {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.comment-div {
  background: var(--white);
  border-radius: 20px;
  width: 100%;
  margin: 15px;
}
.comment-img {
  width: 80px;
  height: 80px;
  padding: 20px;
  border-radius: 50%;
}
.comment-bio {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.comments-p {
  font-size: 15px;
  color: var(--wc-secondary);
  background: var(--purpleLight);
  padding: 10px 15px;
  margin-right: 30px;
  border-radius: 10px;
}
.comment-lorem {
  color: var(--dark);
  font-size: 15px;
  padding: 10px;
  direction: rtl;
}
.comment-lorem p {
  margin: 0px 10px 10px 10px;
  padding: 0px 10px 0px 10px;
  text-align: justify;
}
