:root {
  --purple: #3f3f79;
  --purpleLight: #8787bf;
  --green: #7ad03a;
  --red: #a00;
  --orange: #ffba00;
  --blue: #2ea2cc;
  --wc-secondary: #e9e6ed;
  --wc-highlight: #b3af54;
  --white: #ffffff;
  --subtext: #767676;
  --dark: #515151;
  --body: #f7f7f7;
}
.reservation {
  width: 1300px;
  margin: 0 auto;
}
.reservation-p {
  margin-top: 50px;
  text-align: center;
  display: block;
  font-size: 20px;
  color: var(--dark);
  margin-bottom: 0;
}
.div-hr10 {
  width: 15%;
  height: 5px;
  background: var(--purpleLight);
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
.reservation_flex {
  display: flex;
  justify-content: space-between;
}
.reservation_img {
  background: var(--white);
  text-align: center;
  border-radius: 20px;
}
.img {
  width: 530px;
  height: 400px;
}
.reservation_btn {
  width: 100%;
  border: none;
  border-radius: 20px;
  height: 40px;
  font-size: 15px;
  color: var(--white);
  background: var(--purpleLight);
}
