.footer {
  width: 1300px;
  margin: 0 auto;
  direction: rtl;
}
.div-hr {
  width: 100%;
  height: 8px;
  border-radius: 5px;
  background: var(--purple);
}
.footer-div {
  display: flex;
  justify-content: space-between;
  align-items: self-start;
}
.footerinfo {
  width: 30%;
}
.footerinfo ul {
  list-style: none;
  padding-right: 30px;
  color: var(--purpleLight);
}
.footer-li {
  padding: 5px;
}
.footer-info-span {
  color: var(--dark);
}
.footerbio {
  width: 70%;
}
.biography {
  color: var(--black);
  font-size: 23px;
  margin: 20px 30px 0px 30px;
}
.bio-lorem {
  font-size: 15px;
  padding: 5px;
  margin: 16px 30px 0px 30px;
  text-align: justify;
  color: var(--dark);
}
.div-enamad {
  direction: ltr;
  display: flex;
  justify-content: start;
  align-items: center;
}
.enamad {
  text-align: left;
  width: 90px;
  height: 100px;
}
.footercopy p {
  text-align: center;
  color: var(--subtext);
}
